

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.card {
  padding-top: 10px;
  margin-block: 3px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
iframe {
  position: relative;
  height: 100vh;
  width: 100%;
  /* margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
} */
}

/* ::-webkit-scrollbar {
  width: 11px;
} */

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  overflow: hidden;
  /* Hide scrollbars */
}

#sidebar {
  position: relative;
  height: 100vh;
  width: 100%;
}
